 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: purple;
    color: black;  
    padding: 23px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


nav {
    text-align: right; 
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
    float: left;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px; 
}
nav ul li a {
    text-decoration: none;
    color:white;
    font-size: 17px;
}
nav ul li a:hover {
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 3px solid white;

}


.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
}
.footer {
            text-align: center;
            padding: 20px;
            background-color: purple;
            color: beige;
            margin-top:21px;
}
.fa {
  padding: 5px;
  font-size: 15px;
  width: 120px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: darkgreen;
  color: white;
}

.fa-instagram {
  background: darkgreen;
  color: white;
}
.product-card {
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    height: 140px;
}

.product-card img {
    width: 150px; 
    margin-right: 20px; 
    border-radius: 10px;
    height: ;
}

.product-description {
    flex-grow: 1;
}

.product-description h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.product-description button {
    background-color: purple;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.product-description button:hover {
    background-color: #00796b; /* Darker purple on hover */
}
.image-row {
    display: flex;
    margin-left: 4%;
}

.image-card {
    margin-right: 20px; 
}

.image-card img {
    width: 400px; 
    border-radius: 8px;
    height: 300px; 
}

/* Optional: Add hover effect for images */
.image-card img:hover {
    opacity: 0.9;
}
form{
    width: 800px;
    margin-left: 40px;
}
input[type="text"],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        input[type="submit"] {
            background-color: purple;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        input[type="submit"]:hover {
            background-color: blue;
        }